<%- include("../base/header.ejs") %>

    <body>
        <%- include("../base/navbar.ejs") %>

            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-11 m-auto">
                            <img src="<%= blog.photo  %> " class="blog-image" alt="main">
                        </div>
                    </div>
                    <div class="row contents">
                        <h1 class="page-header w-100">
                            <%= blog.title %>
                        </h1>
                        <h3 class="description w-100">
                            <%= blog.description %>
                        </h3>
                        
                        <div id="content" hidden ><%=content %></div>
                        <div id="show-content" ></div>



                    </div>
                </div>
            </div>
            <% { %>
                <script>                    
                    $(document).ready(function () {
                        var x = document.getElementById("content").textContent;
                        document.getElementById("show-content").innerHTML = x;
                    });
                
                </script>
                <% } %>
                    <%- include("../base/footer.ejs") %>

    </body>