<%- include("../base/header.ejs") %>

    <body>
        <%- include("../base/navbar.ejs") %>

        <div class="container mt-5 mb-5">
            <article class="article" >
                <h1>What is the difference between deploying static website manually and by using DDW? </h1>
                <blockquote>To deploy a static website on the AWS S3 server can be hectic process for developers mostly for the beginners while they have short time in process or want to save their time. There are lengthy and long process to follow while you are deploying a static website manually on Amazon S3 for the public access.  It consumes a lot of time to set up all the properties and deploy a website on the AWS S3 server. There are many issues you can face while deploying a website manually. They are as follows: </blockquote>
                <h6>Static website hosting confusion </h6>
                <blockquote>When you host your website for the public access there are a lot of steps that create the confusion to host your static website on the Amazon S3. </blockquote>
                <h6>Bucket policy issues </h6>
                <blockquote>Bucket policy is the resource-based policy which helps to identify the AWS Account user or IAM (Identity and Access management) user.  it is used to allow access to bucket and object in the AWS account. You have to add access to the IAM user by adding Bucket policy while hosting a website manually on the Amazon S3. </blockquote>
                <h6>Object ACL Confusion</h6>
                <h6>CORS (Cross- Origin resource sharing) related issue </h6>
                <h6>Object access state </h6>
                <h6>Lengthy and long process to follow</h6>
                <blockquote>By following each and every step you have to perform every task to host your static website manually. If you are new to Amazon S3 and a beginner then it will take a lot of effort to understand this process.  </blockquote>
                <h6>Time consuming method </h6>
                <blockquote> Hosting a static website take a lot of time while allowing access and creating bucket policy there are a lot of steps to follow which consume your time.  </blockquote>

                <a  onclick="location.href='/manual'" style="color:blue;cursor:pointer" >To know how you can manually deploy your static website on amazon AWS S3. Check here. </a>
                <blockquote>If you want to host your static website without any confusion and time consuming process then you can consider to use the Stridefuture AWS (DDW) to get your website URL in just few minutes. This will help you to minimize the manual efforts and clear out confusion and lengthy process of deploying static website on the AWS S3 server Stridefuture AWS works best for you. It is the fast and easy process to deploy your website successfully for the public access on the AWS S3 server. You can easily deploy your website by just following these simple steps. </blockquote>
                <a onclick="location.href='/ddw'"  style="color:blue;cursor:pointer">Using StrideFuture AWS Portal. Check here</a>

            </article>

                
            <div class="row mt-5 mb-5">
                <div class="col-lg-6 col-ms-6 col-sm-12 col-xs-12">
                    <div class="card m-auto text-center" style="width: 18rem;">
                        <!-- <img class="card-img-top" src="../../assets/img/" alt="Card image cap"> -->
                        <div class="card-body">
                          <h5 class="card-title">Manual </h5>
                          <p class="card-text">How to Deploy Static Website Through DDW in just 3 Steps??.</p>
                          <a onclick="location.href='/How-to-host-a-static-website-on-amazon-S3-through-stridefuture-AWS-portal'" class="btn btn-outline-primary">Read more</a>
                        </div>
                      </div>
                </div>
                <div class="col-lg-6 col-ms-6 col-sm-12 col-xs-12 ">
                    <div class="card m-auto text-center" style="width: 18rem;">
                        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                        <div class="card-body">
                          <h5 class="card-title">DDW</h5>
                          <p class="card-text">How to Deploy or Host A Static Website on AWS S3?.</p>
                          <a onclick="location.href='/How-to-deploy-static-website-manually-on-amazon-S3'" class="btn btn-outline-primary">Read more</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>

            <%- include("../base/footer.ejs") %>

    </body>
