<%- include("../base/header.ejs") %>

    <body>
        <%- include("../base/navbar.ejs") %>

            <div class="container">
                <form action="/logout" method="post" >
                    <button type="submit" class="custom-btn mb-5"> Logout</button>
                </form>
                <h1 class="theme-header">Create a new Blog</h1>
                <form action="/upoadBlog" method="post"  enctype="multipart/form-data" role="form">
                    <label for="title">Blog Title</label>
                    <input type="text" name="title" id="title" placeholder="" required id="title"
                        class="form-control mb-2" placeholder="Title">

                    <label for="short_description">Short Description</label>
                    <input type="text" name="short_description" id="short_description"  required placeholder="short_desription"
                        class="form-control mb-2">

                    <label for="description">description</label>
                    <input type="text" name="description" id="description" required placeholder="desription"
                        class="form-control mb-2">

                    <label for="card_image">Short Description</label>

                    <input type="file" name="card_image" id="card_image" required placeholder="card_image"
                        class="form-control mb-2">

                    <label for="editor1">Content</label>
                    <textarea name="content"  id="my-expressjs-tinymce-app"></textarea>

                    <button type="submit" id="createBlogNew" class="custom-btn mb-5">Create</button>


                </form>
            </div>
            <% { %>

                <!-- <script>
                    const createBlogNewButton = document.getElementById('blog_createaa');
                    createBlogNewButton.addEventListener("submit", async function (event) {
                        event.preventDefault();
                        console.log(this, "createBlogNewButton data");
                        const title = event.target.elements.title.value;
                        const short_desription = event.target.elements.short_desription.value;
                        const description = event.target.elements.desription.value;
                        const cardImage = event.target.card_image.files;
                        const content = document.getElementById('my-expressjs-tinymce-app').value;
                        console.log("heelo")
                        console.log(
                            title, short_desription, desription, cardImage, content, "details"
                        )
                        console.log(event.target.card_image.files, "cardImage");
                        var bodyForm = new FormData();

                        const bodyFormNew = {
                            title: title,
                            short_desription: short_desription,
                            description: description,
                            cardImage: cardImage,
                            content: content,
                        } 
                        bodyForm.append("title",title)
                        bodyForm.append("short_desription",short_desription)
                        bodyForm.append("description",description)
                        bodyForm.append("cardImage",cardImage)
                        bodyForm.append("content",content)
                        console.log(bodyForm, "uuuuu");
                        for(var pair of bodyForm.entries()) {
      console.log(pair[0]+', '+pair[1]);
    }
                        $.ajax({
                        type: 'POST',
                        url: '/upoadBlog',
                        data: '{"data": "TEST"}',
                      
                        success: function (result) {
                            // $('#successAlertBox').style.display = 'block';
                            loaderID.style.display = 'none';
                            document.getElementById("sucessAlert").innerHTML = result.title;
                            console.log(result.title, "result");
                        }
                    })
                        // const body = {
                        //     bucekt_name: "",
                        //     files: {
                        //         key: cardImage.name,
                        //         contentType: cardImage.type
                        //     }
                        // }

                        // const { url } = fetch("get-signed-url-blog", { method: "POST", body: JSON.stringify(body), headers: { 'Content-Type': 'application/json' } }).then(
                        //     async response => {
                        //         let { url } = await response.json();
                        //         uploadUsingSignedUrl(url.fileObj, cardImage);
                        //         console.log("upload")
                        //     }
                        // )

                        // function uploadUsingSignedUrl(file, fileObj) {
                        //     fetch(fileObj, { method: 'PUT', headers: { 'Content-Type': fileObj.contentType }, body: file }).then(() => {
                        //         console.log("========================== uplaod worked ==============");
                        //     }).catch((error) => {
                        //         uploadUsingSignedUrl(file, fileObj)
                        //         console.log(error, "catch")
                        //     })
                        //     return
                        // };


                    })
                </script> -->
                <% } %>



                    <%- include("../base/footer.ejs") %>

    </body>