<%- include("../base/header.ejs") %>

    <body>
        <%- include("../base/navbar.ejs") %>

            <div class="container mt-5">
                <article class="article">
                    <h1>How to Deploy Static Website Through DDW in just 3 Steps?</h1>
                    <p>Hello! Are you looking for deploying your website on the AWS S3 server or facing any issues while deploying your website or creating bucket? </p>
                    <p>Then this blog will help you to understand the easy and fast process to deploy your static website on the AWS s3 server. You can easily follow the simple steps and get your static website on the AWS S3 server for the public access.</p>
                   <br> <p>In this blog you will learn about the following things to get the better understanding how to create bucket and deploy static website on the AWS S3 server by using DDW. </p>
                    <p class="font-weight-bold">What is DDW? </p>
                    <p class="font-weight-bold">What are the Advantages of using DDW? </p>
                    <p class="font-weight-bold">How DDW will help to deploy your static website? </p>
                    <p class="font-weight-bold">Now let's discuss each point in detail. </p>

                    <h1>What is DDW? </h1>
                    <blockquote>DDW stands for Develop Deploy Web which is the interface that connect you with your AWS S3 server and help you deploy your static website easily on the AWS S3 server. This will help you to minimize the manual efforts to deploy the static website on the web for the public access. You just have to create a bucket or use your existing bucket and input the necessary credentials such as bucket name, region, access key, and Secret key.  it will redirect you to AWS S3 account.  then you can select your bucket from bucket list and upload source code file. After uploading file, you can easily get your published URL and your static website easily deploy on the AWS S3 server. </blockquote>

                    <h1>What are the advantages of using DDW?  </h1>
                    <blockquote>Here are the following advantages to use DDW for deploying a static website. </blockquote>
                    <ul>
                        <li>Minimize your manual efforts</li>
                        <li>Deploy your website in just few steps</li>
                        <li>Save yourself from the hosting hurdles & confusion</li>
                        <li>Save unnecessary time while using DDW</li>
                    </ul>

                    <h3>Minimize your manual efforts </h3>
                    <blockquote>While performing the task to deploy your website there are many steps to follow which consume your time and create a confusion if you are not familiar with the AWS S3 server. By taking the help of DDW tool you don’t have to check anything related to get any access for public domain or blocking steps. You just have to simply enter your credentials and upload your source code file to deploy static website successfully. </blockquote>
                    <h3>Deploy your website in just few steps </h3>
                    <blockquote>By using DDW software you will be able to deploy your website in just few steps. That will save your unnecessary time and energy to waste in the manual process. </blockquote>
                    <h3>Save yourself from the hosting hurdles & confusion </h3>
                    <blockquote>There are many steps to follow from creating bucket to deploy your static website successfully. There you have to pause and do everything by manually such as bucket policy issue, change ACL and CORS configuration and many more steps to follow. And with the help of Stride future AWs you will be able to complete the whole process in just 3 steps. It removes all the confusion and hurdles you face in AWS S3 while deploying a Static Website manually. </blockquote>
                    <h3>Save unnecessary time while using DDW </h3>
                    <blockquote  >While using the DDW too for deploy website you will be able to save a much more time in the process to get your publish URL for the Public Access. </blockquote>
                    <p class="mt-5 font-weight-bold">DDW simply ask either you want to create a bucket or want to use the existing bucket. By selecting the option Use existing bucket or create bucket you just have to input your AWS credentials and it will be redirect you to AWS account and you will be able to upload your source code file and your website will be deploy on the AWs S3 server. For more expiation of this process check this step by step. </p>
                    <ul>
                        <li>
                            <h2 class="steps">Step 1:- Create Bucket or Use Existing Bucket  </h2>
                                <blockquote>(This is the first step to develop a Static Deployment website easily on the AWS S3 server. At the Home page you have two options to deploy your static website. Either you can use your existing Bucket or you can create a new Bucket as well.) </blockquote>
                                <img src="../../assets/img/home-screen.png" class="img-responsive img-fluid" alt="login" srcset="">                                
                                <ol>
                                    <li>
                                       <b> Using Existing a Bucket</b>
                                        <ul>
                                            <li>Input your Bucket name </li>
                                            <li>Select your region which you have selected in AWS S3 </li>
                                            <li>Enter your Access Key of the AWS  </li>
                                            <li>Enter Your Secret Key of The AWS </li>
                                        </ul>
                                    </li>

                                    <li>
                                       <b> Create a Bucket</b>
                                        <img src="../../assets/img/create-bucket.png'" class="img-responsive img-fluid" alt="create" srcset="">
                                        <br>
                                   <b> Choose your Bucket name </b> <br>
                                        <ul>
                                            <li>It Should be Unique across the Amazon S3 </li>
                                            <li>It should be between 3 to 63 Character long </li>
                                            <li>You can start with number or lowercase letter </li>
                                            <li>It should not contain uppercase character </li>
                                        </ul>
                                        <textarea name="" id="" class="form-control text-center" rows="3" readonly >
                                            Note: After creating Bucket you can’t change its name. Don’t add sensitive information like account numbers in the place of bucket name. The bucket name is visible in the URL that indicates the objects in the bucket. To know more about creating a Bucket name. Check here. 
                                        </textarea>
                                    </li>

                                    <li>
                                       <b> Choose AWS region where you want to reside your bucket </b>
                                        <ul>
                                            <li>While selecting the region choose a region that is close to in geographically to minimize the cost and latency and the regularity of the address requirement. </li>
                                        </ul>
                                    </li>
                                    <li>
                                       <b> Enter Your AWS Access Key </b>
                                        <ul>
                                            <li>AWS Access key is your IAM user id that is used to login to AWS S3 server </li>
                                        </ul>
                                    </li>
                                    <li>
                                       <b> Enter Your Secret Key </b>
                                        <ul>
                                            <li>AWS Secret is your Unique key which redirect you to the AWS S3 Server </li>
                                        </ul>
                                    </li>
                                </ol>
                        </li>

                        <li>
                            <h2 class="steps">Step 2:- Select Your Bucket and Upload File  </h2>
                         
                            <blockquote>
                                (In the second step after entering all the required credentials you will be redirected the AWS S3 window where you will get your Bucket List. And you just have to simply select your bucket name and upload your source code file.)  
                            </blockquote>
                            <img src="../../assets/img/existing-bucket.png" class="img-responsive img-fluid" alt="create" srcset=""> <br>
                            
                            <p> <b> Select your Bucket from your AWS Bucket List </b> </p>
                            <ol>
                                <li>Choose your Source code Folder  </li>
                                <li>Click Upload</li>
                            </ol>
                        </li>
                        
                        <li>    
                            <h2 class="steps">Step 3:- Get Published URL   </h2>
                          
                            <blockquote>(After Uploading the Source code file you will get the published URL of your Static Deployment Website. Now you have hosted your website on AWS S3.  And it is available for public access.) </blockquote>
                            <img src="../../assets/img/upload-url.png" class="img-responsive img-fluid" alt="create" srcset=""> <br>
                        </li>
                    </ul>
                </article>
                
                <div class="row mt-5 mb-5">
                    <div class="col-lg-6 col-ms-6 col-sm-12 col-xs-12">
                        <div class="card m-auto text-center" style="width: 18rem;">
                            <!-- <img class="card-img-top" src="../../assets/img/" alt="Card image cap"> -->
                            <div class="card-body">
                              <h5 class="card-title">know the Difference</h5>
                              <p class="card-text">What is the difference between deploying static website manually & through DDW?.</p>
                              <a onclick="location.href='/Deploying-static-website-on-aws-S3-by-manually-and-using-Stridefuture-aws'" class="btn btn-outline-primary">Read more</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-6 col-ms-6 col-sm-12 col-xs-12 ">
                        <div class="card m-auto text-center" style="width: 18rem;">
                            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                            <div class="card-body">
                              <h5 class="card-title">DDW</h5>
                              <p class="card-text">How to Deploy or Host A Static Website on AWS S3?.</p>
                              <a onclick="location.href='/How-to-deploy-static-website-manually-on-amazon-S3'"class="btn btn-outline-primary">Read more</a>
                            </div>
                          </div>
                    </div>
                </div>
            </div>

            <%- include("../base/footer.ejs") %>

    </body>