<%- include("../base/header.ejs") %>

    <body>
        <%- include("../base/navbar.ejs") %>

        <div class="container">
            <div class="row mb-5 mt-5">
                <div class="col-lg-8 m-auto col-md-8 login-box">
                    <h1>Login</h1>
    
                    <div class="col-lg-12 login-form">
                        <div class="col-lg-12 login-form ">
                            <form action="/loginBlog" method="POST">
                                <div class="form-group">
                                    <!-- <label class="form-control-label">USERNAME</label> -->
                                    <input type="text"name="username" class="form-control" placeholder="username">
                                </div>
                                <div class="form-group">
                                    <!-- <label class="form-control-label">PASSWORD</label> -->
                                    <input type="password" name="password" class="form-control" placeholder="password" i>
                                </div>
    
                                <div class="col-lg-10 m-auto">
                                    <div class="col-lg-12 login-btm login-text">
                                        <% if (typeof errorMessage=='string' && errorMessage){ %> 
                                            <%= errorMessage %> 
                                            <% } %> 
                                        <!-- Error Message -->
                                    </div>
                                    <div class="col-lg-12 login-btm login-button">
                                        <button type="submit" class="btn btn-outline-primary">Login</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-2"></div>
                </div>
            </div>
            </div>
    
    
    
    
    
            <!-- <div class="container">
                <h1 class="theme-header">login</h1>
                <form  inctype="multipart/form-data">
                    <input type="text" >
                    <input >
                    <button type="submit" class="custom-btn mb-5">Login</button>
                </form>
            </div> -->

            
        </body>
        <%- include("../base/footer.ejs") %>