<%- include("../base/header.ejs") %>
    <body>
        <%- include("../base/navbar.ejs") %>
        <div class="container mt-5 mb-5">
            <article class="article">
                <h1>How to deploy Static website manually?</h1>
                <blockquote>In the AWS S3 account you have to follow a long and length process to deploy your static website for the public access. If you want to know how to deploy your static website step by step manually on the AWS portal then you can check these following steps: </blockquote>
                <ul>
                    <li>
                        <h2>Login to AWS account </h2>
                        <blockquote>Firstly, go to the AWS management console account In the log in detail, you have to select either The Root User or the IAM user </blockquote>
                        <blockquote> <b> Root User:</b> When you first create the AWS (Amazon Web Services) account then you start with single sign in option. You are the owner of this account. And you will be able to access the whole account and AWS services and resources. This type of user named as Root user of AWS account. </blockquote>
                        <blockquote> <b> IAM User:</b> It is the entity that is created by the root user to give a membership of the AWS account. IAM user can interact with the AWS and access the AWS service by sign in through API or CLI. </blockquote>
                        <img src="../../assets/img/workflow/1.png" class="img-responsive img-fluid" alt="login" srcset="">                                
                        <h3>While you are sign in through root user </h3>
                        <img src="../../assets/img/workflow/2.png" class="img-responsive img-fluid" alt="login" srcset="">    
                        <p>Enter your credentials and pass the security check. </p>                            
                        <img src="../../assets/img/workflow/3.png" class="img-responsive img-fluid" alt="login" srcset="">    
                        
                    </li>
                    <li>
                        <h2>Go to the S3 </h2>
                        <blockquote>After sign in to your AWS Account go to the AWS S3 console at <a href=" https://console.aws.amazon.com/s3/"></a> https://console.aws.amazon.com/s3/ </blockquote>
                        <img src="../../assets/img/workflow/4.png" class="img-responsive img-fluid" alt="login" srcset="">                            
                    </li>
                    <li>
                        <h2>Create New Bucket </h2>
                            <ul>
                                <li>
                                    <h3>Create new bucket</h3>
                                    <blockquote>Before creating bucket name, you should follow some bucket name rules. </blockquote>
                                </li>
                                <li>
                                    <h3>Choose AWS region </h3>
                                    <blockquote>AWS region is the website endpoints where your bucket will be residing. You are recommended to choose the AWS region which is nearby you to minimize the cost and latency or address regulatory requirements. . </blockquote>
                                </li>
                                <li>
                                    <h3>Uncheck Block all public access </h3>
                                    <blockquote>To deploy the website for the public access you need to unblock all the properties of the public access. It will allow everyone on the web to view your deploy website. . </blockquote>
                        <img src="../../assets/img/workflow/5.png" class="img-responsive img-fluid" alt="login" srcset="">                            
                        
                    </li>
                    
                </ul>
                
            </li>
            
            <li>
                <h2> Go to the created Bucket </h2>
                <img src="../../assets/img/workflow/6.png" class="img-responsive img-fluid" alt="login" srcset="">                            
                <h3>Bucket/Permission</h3>
                    <p>Bucket Policy change update policy </p>
                    <blockquote>After choosing the created bucket and edit the block all public access, you can add bucket policy that will grant permission to public to read access to your bucket. Now anyone can access your bucket when you allow public read access. </blockquote>
                    <p>Choose edit under bucket policy </p>
                <img src="../../assets/img/workflow/7.png" class="img-responsive img-fluid" alt="login" srcset="">      
                <p>Update the bucket policy as given in the bucket policy editor to  grant the public read access for your website </p>                      
                <div class="row ">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 m-auto">
                        <img src="../../assets/img/workflow/8.png" class="img-responsive img-fluid" alt="create" srcset=""> <br>
                    </div>
                </div>

                <p>In the bucket name upadte to your Resource </p>
                <h3>Name your bucket name with your created Bucket name  </h3>
                <img src="../../assets/img/workflow/9.png" class="img-responsive img-fluid" alt="login" srcset="">      
                <p>After updating bucket name choose save changes</p>
                <p>Now your bucket policy successfully added </p>

                <blockquote>Note: If you get an error message and cannot save the bucket policy, check your account and bucket Block Public Access settings to confirm that you allow public access to the bucket</blockquote>

                <h3>Access control List (ACL) change  </h3>
                <blockquote>Amazon S3 access control list allows you to manage access to objects and bucket. Every bucket and object have an ACL with an attached subresource. It helps to indicate the Which AWS account or group has granted access and type of access. Amazon S3 creates a default ACL, when you create a bucket or an object that allows the resource owner complete access or control over the resource.  </blockquote>
                <img src="../../assets/img/workflow/10.png" class="img-responsive img-fluid" alt="login" srcset="">      
                <img src="../../assets/img/workflow/11.png" class="img-responsive img-fluid" alt="login" srcset="">      
                
                <h3>Cross-origin resource sharing (CORS) update </h3>
                <blockquote>CORS 	cross- origin resource sharing used for a customer web application that are loaded one domain to interact with other resources a different domain.  </blockquote>
                <img src="../../assets/img/workflow/12.png" class="img-responsive img-fluid" alt="login" srcset="">      
                Then
                <img src="../../assets/img/workflow/13.png" class="img-responsive img-fluid" alt="login" srcset="">      

                </li>
                <h2>Buckets/Properties</h2>
                    <blockquote>To make bucket publicly available with domain we have to host bucket as static website Update Static website hosting </blockquote>
                <img src="../../assets/img/workflow/14.png" class="img-responsive img-fluid" alt="login" srcset="">      
                Then
                <img src="../../assets/img/workflow/15.png" class="img-responsive img-fluid" alt="login" srcset="">   
                <h2>Upload Developed Website/Objects </h2>   
                <ol>
                    <li>Go to the Bucket/Objects </li>
                    <img src="../../assets/img/workflow/16.png" class="img-responsive img-fluid" alt="login" srcset="">   
                    <li>Click upload                         
                        </li>
                        <li>Upload Folder</li>
                        <li> Permission> Access control List (ACL) 
                            <br>
                            <blockquote>Check Grant public-read access 
                                <br> Upload </blockquote>
                        </li>
                    </ol>
                    <blockquote>After upload your folder you need to go to the properties tab and at the bottom side you will find your website URL. By clicking to this URL, you will be redirected to your Static Website. And your website is successfully hosted on AWS S3.  Now your Static Website is open for the public use. Anyone can v view your website on the internet. 
                        Here is the bonus for you guys, if you don’t want to follow these long and lengthy steps to host your Static website. And want to save your time and energy to deploy your static website in just few steps with less time than you can Use our tool Stridefuture AWS (DDW).  </blockquote>
                </ul>
            </article>
        </div>
        <%- include("../base/footer.ejs") %>
    </body>