<%- include("base/header.ejs") %>

    <body>
        <%- include("base/navbar.ejs") %>

            <div class="row w-100 m-auto">
                <div class="col-12 ">
                    <div class="bg-light ">
                        <div class="row w-100">
                            <div class="col-10 ">
                                <h3 class="theme-header mt-5 ml-5 ">About Us</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="row content-list">
                                    <div class="col-12">
                                        <!-- <h1 class="display-4">About us </h1> -->
                                        <h1 class="font-weight-bold" >We are here to <span class="theme-header"> minimize <br>
                                             your Efforts </span></h1>
                                        <p class="content-body text-muted mb-0 mt-4">
                                            DDW (Develop Deploy web), refers to develop the
                                            static Deployment website in just few clicks that will save the manual
                                            effort at
                                            the AWS S3. This tool is beneficial to the developers who just have start
                                            their
                                            career in the development domain, freelancers, and one who is not familiar
                                            with
                                            the coding field. This tool will help you to get your static deployment
                                            website
                                            without any hurdles and in quick steps..
                                        </p>
                                        <p class="content-body text-muted mb-0 mt-4">
                                            We are the bridge between you and your service provider. We never keep your data while you log in from the DDW portal. So, your credentials remain confidential between you and your Service provider. We help you to land your static website safely and securely on the web.
                                        </p>
                                    </div>
                                  
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                                <img src="../assets/img/im.png" alt="" class="img-fluid mb-4 mb-lg-0">

                            </div>
                        </div>
                        <div class="col-12 mt-5">
                            <h1 class="font-weight-bold">Time <span class="theme-header">  Saving & Hurdle Free </span> <br> Software </h1>
                            <p class="content-body text-muted mb-4 mt-4">Through this portal our developer has
                                minimize the manual effort to deploy static website on AWS S3. It will
                                create a window which redirected to the AWS S3.
                                That will deploy your static website in just few steps. It will save your
                                time and energy and you don’t need to go through the hurdles of the lengthy
                                steps of deploying static website on AWS S3. </p>
                                <p class="content-body text-muted mb-0 mt-4">
                                    That will deploy your static website in just a few steps. It will save your time and energy and you don’t need to go through the hurdles of the lengthy steps of deploying a static website on AWS S3.  
                                </p>
                            <!-- <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a> -->
                        </div>

                        <div class="row content-list">
                            <div class="col-12">
                                <h1 class="font-weight-bold"> <span class="theme-header"> Safe & Secure </span> Privacy Policy </h1>
                                <p class="content-body text-muted mb-4 mt-4">We believe to give you the best user experience
                                    and relevant information to simplify your task. We always stuck to the privacy
                                    policy that states we never store any data from the users. This makes this portal
                                    trustworthy, safe and secure to deploy your static website. </p>
                                <!-- <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a> -->
                            </div>
                        </div>


                    </div>



                    <div class="bg-light mb-5">
                        <div class=" w-100 ">
                            <div class="row w-100">
                                <div class="col-10 ">
                                    <h3 class="theme-header mt-5 ml-5 ">Contact Us</h3>
                                </div>
                            </div>
                            <div class="row" id="reachUS">
                                <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 m-auto contact-box">
                                    <!-- <form action="/about" method="POST" inctype="X-www-form-urlencoded" > -->
                                    <form id="emailForm">
                                        <div class="form-group mb-4 input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Email</span>
                                            </div>
                                            <input type="email" required class="form-control" id="email" name="email">
                                        </div>

                                        <div class="form-group mb-4 input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Full Name</span>
                                            </div>
                                            <input type="text" required class="form-control" id="name" name="Full_name">
                                        </div>
                                        <div class="form-group mb-4 input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Subject</span>
                                            </div>
                                            <input type="text" required class="form-control" id="name" name="subject">
                                        </div>

                                        <div class="form-group mb-4 input-group">
                                            <textarea id="" required name="message" class="form-control"
                                                placeholder="Write your message here" rows="5"></textarea>
                                        </div>

                                        <p id="sucessAlert" class="text-success text-center"></p>
                                        <div class="row" id="loaderID" style="display:none;">
                                            <div class="col-4 m-auto text-center ">
                                                <div id="loading"></div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-4 text-center">
                                            <span class="spinner-border spinner-border-sm text-success"
                                                role="status"></span>
                                            <button type="submit" class="custom-btn pl-5 pr-5">
                                                &nbsp;&nbsp;
                                                Send Message &nbsp;&nbsp;</button>
                                        </div>
                                    </form>
                                    <!-- <div  id="successAlertBox" class="alert alert-success" > role="alert">
                            </div> -->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <script>
                const loaderID = document.getElementById("loaderID");;

                document.getElementById("emailForm").addEventListener('submit', async function (event) {
                    event.preventDefault();
                    loaderID.style.display = "block";
                    const body = {
                        email: event.target.elements.email.value,
                        name: event.target.elements.Full_name.value,
                        subject: event.target.elements.subject.value,
                        message: event.target.elements.message.value
                    }
                    document.getElementById("emailForm").reset();
                    console.log(body, "working",);
                    $.ajax({
                        type: 'POST',
                        url: '/about',
                        data: body,
                        xhrFields: {
                            withCredentials: false
                        },
                        headers: {

                        },
                        success: function (result) {
                            // $('#successAlertBox').style.display = 'block';
                            loaderID.style.display = 'none';
                            document.getElementById("sucessAlert").innerHTML = result.title;
                            console.log(result.title, "result");
                        }
                    })

                })

            </script>



            <%- include("base/footer.ejs") %>

    </body>