<%- include("base/header.ejs") %>

    <body>
        <%- include("base/navbar.ejs") %>



            <div class="bg-light">
                <h4 class="theme-header">Blogs</h4>
                <div class="blog-list-wrapper py-5">
                    <div class="row">
                        <div class="col-lg-10 col-md-11 col-sm-12 col-xs-12 m-auto">

                         
                
                               
                                <% for (var i = 0; i < blogs.length; i++) { %>
                                            <!-- first row -->
                                            <div class="row h-100 blog-fonts">

                                                <div class="col-lg-6 pt-5">
                                                    <h1 class="mb-4"><%= blogs[i].title %></h1>
                                                    <h5 class="mb-4">  <%= blogs[i].short_Description %> </h4>
                                                        <p class="lead text-muted mb-0"> <%= blogs[i].description %></p>
                                                        <div class="row w-100">
                                                            <div class="col-11 text-center m-auto">
                                                                <button class="custom-btn  mt-3 text-center"
                                                                    onclick="location.href='/blogs/<%= blogs[i].id %>'">Read
                                                                    More</button>
                                                            </div>

                                                        </div>

                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center p-5"><img
                                                        src="<%= blogs[i].photo %>" alt="" class="img-fluid">
                                                </div>

                                            </div>
                                            <hr>
                                            <% } %>
                                            <!-- second row -->
                                            <div class="row h-100 blog-fonts">
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center p-5"><img
                                                        src="../assets/img/difference.png" alt="" class="img-fluid">
                                                </div>

                                                <div class="col-lg-6 pt-5">
                                                    <h1 class="mb-4">What is the difference between deploying static
                                                        website manually & through DDW? </h1>
                                                    <h5 class="mb-4">To minimize the manual efforts and clear out
                                                        confusion and lengthy process of deploying static website on the
                                                        AWS S3 server Stridefuture AWS works best for you.</h5>
                                                    <p class="lead text-muted mb-0"> To deploy a static website on the
                                                        AWS S3 server can be hectic process for developers while they
                                                        have short time in process or want to save their time. There are
                                                        lengthy and long process to follow while you are deploying a
                                                        static website manually for the public access. It consumes a lot
                                                        of time to set up all the properties and deploy website on the
                                                        server. There are many issues you can face while deploying a
                                                        website manually. .....</p>
                                                    <div class="row w-100">
                                                        <div class="col-11 text-center m-auto">
                                                            <button class="custom-btn  mt-3 text-center mt-3"
                                                                onclick="location.href='/Deploying-static-website-on-aws-S3-by-manually-and-using-Stridefuture-aws'">Read
                                                                More</button>
                                                        </div>

                                                    </div>

                                                </div>


                                            </div>
                                            <hr>
                                            <!-- third row -->
                                            <div class="row h-100 blog-fonts">

                                                <div class="col-lg-6 pt-5">
                                                    <h1 class="mb-4">How to Deploy or Host A Static Website on AWS S3?
                                                    </h1>
                                                    <h5 class="mb-4">Amazon S3 features mainly focus on the Robustness
                                                        and the simplicity of storing data around the web. There are the
                                                        following advantages of the Amazon S3: </h4>
                                                        <p class="lead text-muted mb-0">
                                                            Amazon S3 simply stands for simple storage services that is
                                                            introduced in 2006 by Amazon. Generally, Amazon Web Services
                                                            S3 consists of buckets and objects. Where the objects can be
                                                            file, images, webpages or static website. The main aim to
                                                            design AWS S3 is to provide highly scalable, fast, reliable,
                                                            and inexpensive storage infrastructure similar to the Amazon
                                                            global network of websites to the developers.</p>
                                                        <div class="row w-100">
                                                            <div class="col-11 text-center m-auto">
                                                                <button class="custom-btn  mt-3 text-center mt-3"
                                                                    onclick="location.href='/How-to-deploy-static-website-manually-on-amazon-S3'">Read
                                                                    More</button>
                                                            </div>

                                                        </div>

                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center p-5"><img
                                                        src="../assets/img/how-to.png" alt="" class="img-fluid"></div>

                                            </div>
                                            <hr>
                        </div>
                    </div>






                    <!-- dynamic blogs -->
                    <div class="row">
                        <div class="col-10 m-auto">

                     
                    
                   
                            

                        </div>
                    </div>




                </div>
            </div>



            <%- include("base/footer.ejs") %>

    </body>