<%- include("base/header.ejs") %>

    <body>
        <%- include("base/navbar.ejs") %>
        <div class="row w-100">
            <div class="col-11 m-auto create-bucket-wrapper">
                <h2>Create a new Bucket</h2>
                <div class="row create-bg">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 m-auto">
                        <div class="create-form">
    
                            <form action="/create" method="post">
                                <!-- alet start -->
                                <% if (err) { %>
                                    <div class="alert alert-danger alert-dismissible fade show text-center " role="alert">
                                        <%= err.code %> !!
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                    <% } %>
                                <!-- alet end -->                            
                                        <p class="text-center text-secondary"> We never Store/Share your data!</p>
                                        <div class="form-group input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" for="bucektName" id="basic-addon1">Bucket Name</span>
                                              </div>
                                            <input type="text" required class="form-control"  name="name" id="bucektName"
                                                aria-describedby="bucektName" onkeypress="return validateBucektname(event)" > 
                                                <div class="input-group-append">
                                                    <span class="input-group-text bg-light" id="basic-addon2">
                                                        <a href="#" data-toggle="popover" title="Help !" tabindex="0" data-trigger="focus" 
                                                        data-content="Bucekt name Should not containd special characters (#@./-$_/) and uppercase.
                                                        <a href='/document#v-pills-create-tab' target='_blank' title='Refrenses'>See Refrenses</a> "> <i class="fa fa-info-circle"></i></a>
        
                                                    </span>
                                                  </div>
                                                   
                                        
                                            <!-- <small id="bucektNamehelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                                        </div>
                                        <div class="form-group input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" for="region" id="basic-addon1">Region</span>
                                              </div>
                                            <select class="form-control" name="region" required id="exampleFormControlSelect1">
                                                <option  value="" >Choose..</option>
                                                <optgroup label="United state" class="text-muted">
                                                    <option value="us-east-1" >US east (N. Virginia) us-east-1</option>
                                                    <option value="us-east-2" >US east (Ohio) us-east-2 </option>
                                                    <option value="us-west-1" >US east (N. California) us-west-1</option>
                                                    <option value="us-west-2" >US east (Oregon) us-west-2</option>
                                                </optgroup>
                                                <optgroup label="Asia Specific" class="text-muted font-weight-normal">
                                                    <option value="ap-south-1">Asia Pacific(Mumbai) ap-south-1</option>
                                                    <option value="ap-northeast-3">Asia Pacific(Osaka) ap-northeast-3</option>
                                                    <option value="ap-northeast-2">Asia Pacific(Seoul) ap-northeast-2</option>
                                                    <option value="ap-southeast-1">Asia Pacific(Singapore) ap-southeast-1</option>
                                                    <option value="ap-southeast-2">Asia Pacific(Sydney) ap-southeast-2</option>
                                                    <option value="ap-northeast-1">Asia Pacific(Tokyo) ap-northeast-1</option>
                                                </optgroup>
                                                <optgroup label="Canada" class="text-muted">
                                                    <option value="ca-central-1" > Canada (Central) ca-central-1</option>
                                                </optgroup>
                                                <optgroup label="Europe" class="text-muted">
                                                    <option value="eu-central-1" > EU (frankfurt) eu-central-1</option>
                                                    <option value="eu-west-1" > EU (Ireland) eu-west-1</option>
                                                    <option value="eu-west-2" > EU (London) eu-west-2</option>
                                                    <option value="eu-west-3" > EU (Paris) eu-west-3</option>
                                                    <option value="eu-north-1" > EU (Strockholm) eu-north-1</option>
                                                </optgroup>
                                                <optgroup label="South America" class="text-muted">
                                                    <option value="sa-east-1" > South America (Sao Paulo) sa-east-1</option>                                 
                                                </optgroup>
                                               
                                              </select>
                                              <div class="input-group-append ">
                                                <span class="input-group-text bg-light" id="basic-addon2">
                                                    <a href="#" data-toggle="popover" title="Why it is required?" tabindex="0" data-trigger="focus" 
                                                    data-content="To optimize latency, minimize costs, or address regulatory requirements, choose any AWS Region that is geographically close to you.
                                                     <a href='/document#v-pills-create-tab' target='_blank' title='Title'>See Refrenses</a>"> <i class="fa fa-info-circle"></i></a>
    
                                                </span>
                                              </div>
                                            <!-- <input type="text" required class="form-control" id="region" name="region"
                                                value="ap-south-1"> -->
                                        </div>
                                        <div class="form-group input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" for="accesskey" id="basic-addon1">Access Key</span>
                                              </div>
                                            <input type="password" required class="form-control" id="accesskey"
                                                aria-describedby="accesskey" name="access_key" value="">
                                                <div class="input-group-append">
                                                    <span class="input-group-text bg-light borderless" id="basic-addon2">
                                                        <a href="#" data-toggle="popover" title="Why it is Required?" tabindex="0" data-trigger="focus" 
                                                        data-content="Access Keys are used to sign the requests you send to create Amazon S3 Bucket, See more details or create <a href='/document#v-pills-create-tab' target='_blank' title='accessKey'>Here</a>"> <i class="fa fa-info-circle"></i></a>
                                                    </span>
                                                  </div>
                                        </div>
    
                                        <div class="form-group input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" for="secretkey" id="basic-addon1">Secret Key</span>
                                              </div>
                                            <input type="password" required class="form-control" id="secretkey"
                                                aria-describedby="secretkey" name="secret_key"
                                                value="">
                                                <div class="input-group-append">
                                                    <span class="input-group-text bg-light" id="basic-addon2">
                                                        <a href="#" data-toggle="popover" title="Why it is Required?" tabindex="0" data-trigger="focus" 
                                                        data-content="Secret Keys are used to sign the requests you send to create Amazon S3 Bucket, See more details or create <a href='/document#v-pills-create-tab' target='_blank' title='secretKey'>Here</a>"> <i class="fa fa-info-circle"></i></a>    
                                                    </span>
                                                  </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-11 m-auto text-center">
                                                <button type="submit" class="custom-btn text-center ">Create Bucket</button>
                                            </div>
                                        </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

   

      
            
            <%- include("base/footer.ejs") %>

    </body>