<%- include("base/header.ejs") %>
    <%- include("base/navbar.ejs") %>

        <div class="row w-100">
            <div class="col-12 m-auto">
                <!-- <div class="row mb-3 mt-1">
                    <div class="col-10">
                        <h4 class="mb-4 theme-header">Documentation </h4>
                    </div>
                </div> -->
                <h4 class="m-4 theme-header">Documentation </h4>
                <div class="container">


                    <div class="row document_box">
                        <div class="col-12 document_box_tabs">
                            <!-- <h4 class="mb-4">Getting Started AWS</h4> -->
                            <div class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="horizontal">

                            </div>
                            <div class="nav  nav-pills-custom" id="v-pills-tab" role="tablist"
                                aria-orientation="horizontal">
                                <!-- <a class="nav-link docs_nav active" id="v-pills-home-tab" data-toggle="pill"
                                href="#v-pills-home" role="tab" aria-controls="v-pills-home"
                                aria-selected="true">Home</a> -->
                                <a class="nav-link docs_nav active" id="v-pills-create-tab" data-toggle="pill"
                                    href="#v-pills-create" role="tab" aria-controls="v-pills-create"
                                    aria-selected="false">Create Bucket </a>
                                <a class="nav-link docs_nav" id="v-pills-messages-tab" data-toggle="pill"
                                    href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
                                    aria-selected="false">Use Existing</a>
                                <a class="nav-link docs_nav" id="v-pills-settings-tab" data-toggle="pill"
                                    href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
                                    aria-selected="false">Uploading</a>
                                <a class="nav-link docs_nav" id="v-pills-url-tab" data-toggle="pill" href="#v-pills-url"
                                    role="tab" aria-controls="v-pills-url" aria-selected="false">Get Published URL</a>
                            </div>
                            <div class="pills-hr m-0"></div>

                        </div>
                        <div class="col-12 document_box_content">
                            <div class="tab-content" id="v-pills-tabContent">

                                <div class="tab-pane fade show active" id="v-pills-create" role="tabpanel"
                                    aria-labelledby="v-pills-create-tab">
                                    <h3>Create Bucket</h3>
                                    <article class="p-4">
                                        <ol>
                                            <li>Enter Your Bucket Name
                                                <ul>
                                                    <li>It Should be Unique across the Amazon S3 </li>
                                                    <li> It should be between 3 to 63 Character long</li>
                                                    <li> You can start with number or lowercase letter</li>
                                                    <li> It should not contain uppercase character</li>

                                                </ul>
                                                <blockquote>
                                                    Note: After creating Bucket you can’t change its name. Don’t add
                                                    sensitive information like account numbers in the place of bucket
                                                    name.
                                                    The bucket name is visible in the URL that indicates the objects in
                                                    the
                                                    bucket. To know more about creating a Bucket name. Check here.
                                                </blockquote>
                                                <h6>Bucekt Name Rules</h6>
                                                <p>Here are some rules to follow while choosing bucket name in Amazon
                                                    S3:
                                                </p>
                                                <ul>
                                                    <li>
                                                        Bucket names can contain only of lowercase letters (a,b,c,...),
                                                        numbers (1,2,3...), dots (.), and hyphens (-). </li>
                                                    <li> Bucket names must begin and end with a letter or number.</li>
                                                    <li> You Can’t frame Bucket names like an IP address (for example,
                                                        182.178.9.4).</li>
                                                    <li> Bucket names must be unique within a partition. Where the
                                                        partition
                                                        is a grouping of Regions. AWS currently has three partitions:
                                                        <ul>
                                                            <li> aws (Standard Regions), </li>
                                                            <li> aws-cn (China Regions), </li>
                                                            <li> aws-us-gov (AWS GovCloud [US] Regions).</li>
                                                        </ul>
                                                    </li>

                                                    <li> Buckets used with Amazon S3 Transfer Acceleration can't have
                                                        dots
                                                        (.) in their names. </li>
                                            </li>
                                            </ul>

                                            </li> <br>
                                            <li>Select your region which you have selected in AWS S3
                                                Regions are the AWS region where you can safely store any object. It is
                                                recommended that you should choose AWS region which is geographically
                                                close
                                                to you so it can minimize the cost and latency to address the regularity
                                                requirements.

                                            </li> <br>
                                            <li>
                                                Enter your Access Key of the AWS
                                                Your Access Key is the username of your AWS account or your IAM id. You
                                                just
                                                have to simply put your IAM id which is provided by your organization or
                                                AWS
                                                account.

                                            </li><br>
                                            <li>
                                                Enter Your Secret Key of The AWS
                                                Secret key is the unique key like your password of the AWS. By entering
                                                your
                                                Access Key and Secret key you will be able to redirect to your AWS
                                                account.

                                            </li>
                                        </ol>
                                    </article>
                                    <div class="row mb-5">
                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 m-auto">
                                            <img src="../../assets/img/create-bucket.png" class="img-responsive img-fluid"
                                                alt="create" srcset=""> <br>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                                    aria-labelledby="v-pills-messages-tab">
                                    <h3>Use Existing Bucket</h3>
                                    <article class="p-4">

                                        <ul>
                                            <li>Select your region which you have selected in AWS S3
                                                Regions are the AWS region where you can safely store any object. It is
                                                recommended that you should choose AWS region which is geographically
                                                close
                                                to you so it can minimize the cost and latency to address the regularity
                                                requirements.

                                            </li> <br>
                                            <li>
                                                Enter your Access Key of the AWS
                                                Your Access Key is the username of your AWS account or your IAM id. You
                                                just
                                                have to simply put your IAM id which is provided by your organization or
                                                AWS
                                                account.

                                            </li><br>
                                            <li>
                                                Enter Your Secret Key of The AWS
                                                Secret key is the unique key like your password of the AWS. By entering
                                                your
                                                Access Key and Secret key you will be able to redirect to your AWS
                                                account.

                                            </li>
                                        </ul>
                                    </article>
                                    <div class="row">
                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 m-auto">
                                            <img src="../../assets/img/use-existing-one.png" class="img-responsive img-fluid"
                                                alt="create" srcset=""> <br>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                                    aria-labelledby="v-pills-settings-tab">
                                    <h3>Upload</h3>
                                    <blockquote class="p-4">

                                        In this step after entering all the required credentials you will be redirected
                                        the AWS S3 window where you will get your Bucket List. <br>
                                        And you just have to simply select your bucket name and upload your source code
                                        file <br>
                                        <br>Then click the deploy button!
                                    </blockquote>
                                    <div class="row">
                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 m-auto">
                                            <img src="../../assets/img/existing-bucket.png" class="img-responsive img-fluid"
                                                alt="create" srcset=""> <br>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-url" role="tabpanel"
                                    aria-labelledby="v-pills-url-tab">
                                    <h3>Get Published URL</h3>
                                    <blockquote class="p-4">
                                        After Uploading the Source code file you will get the published URL of your
                                        Static Deployment Website. Now you have hosted your website on AWS S3. And it is
                                        available for public access.

                                    </blockquote>
                                    <div class="row">
                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 m-auto">
                                            <img src="../../assets/img/upload-url.png" class="img-responsive img-fluid"
                                                alt="create" srcset=""> <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% { %>
            <script>
                console.log("cickets");
                var activeTab = document.querySelector(location.hash);
                console.log(activeTab, "cickets");

                $(function () {
                    if (activeTab) {
                        activeTab.click();
                    }
                });

            </script>
            <% } %>
                <%- include("base/footer.ejs") %>