<%- include("base/header.ejs") %>

 <body>
        <%- include("base/navbar.ejs") %>
            <div class="row list-cover">
                <div class="col-12">

                    <div class="row form-box m-5">
                        <div class="col-6 p-5 ">
                            <div class="form-box-col ">
                                <!-- -->
                                <% if(!bucket) { %>
                                    <!-- get the list of bucket by getting all the access key and secret key -->
                                    <form action="/list" method="post" class="p-1">
                                        <!-- alet start -->
                                        <% if (typeof err=='object' && err ) { %>
                                            <div class="alert alert-danger alert-dismissible fade show text-center pt-3"
                                                role="alert">
                                                <%= err.code %> !!
                                                    <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                            </div>
                                            <% } %>
                                                <!-- alet end -->
                                                <h5 style="text-align:center; font-family: 'Roboto Mono', monospace; ">
                                                    We never Store/Share your data!</h5>
                                                <div class="form-group input-group mb-4 mt-4">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" for="region"
                                                            id="basic-addon1">Region</span>
                                                    </div>
                                                    <select class="form-control" name="region" required
                                                        id="exampleFormControlSelect1">
                                                        <option value="">Choose..</option>
                                                        <optgroup label="United state" class="text-muted">
                                                            <option value="us-east-1">US east (N. Virginia) us-east-1
                                                            </option>
                                                            <option value="us-east-2">US east (Ohio) us-east-2 </option>
                                                            <option value="us-west-1">US east (N. California) us-west-1
                                                            </option>
                                                            <option value="us-west-2">US east (Oregon) us-west-2
                                                            </option>
                                                        </optgroup>
                                                        <optgroup label="Asia Specific"
                                                            class="text-muted font-weight-normal">
                                                            <option value="ap-south-1">Asia Pacific(Mumbai) ap-south-1
                                                            </option>
                                                            <option value="ap-northeast-3">Asia Pacific(Osaka)
                                                                ap-northeast-3</option>
                                                            <option value="ap-northeast-2">Asia Pacific(Seoul)
                                                                ap-northeast-2</option>
                                                            <option value="ap-southeast-1">Asia Pacific(Singapore)
                                                                ap-southeast-1</option>
                                                            <option value="ap-southeast-2">Asia Pacific(Sydney)
                                                                ap-southeast-2</option>
                                                            <option value="ap-northeast-1">Asia Pacific(Tokyo)
                                                                ap-northeast-1</option>
                                                        </optgroup>
                                                        <optgroup label="Canada" class="text-muted">
                                                            <option value="ca-central-1"> Canada (Central) ca-central-1
                                                            </option>
                                                        </optgroup>
                                                        <optgroup label="Europe" class="text-muted">
                                                            <option value="eu-central-1"> EU (frankfurt) eu-central-1
                                                            </option>
                                                            <option value="eu-west-1"> EU (Ireland) eu-west-1</option>
                                                            <option value="eu-west-2"> EU (London) eu-west-2</option>
                                                            <option value="eu-west-3"> EU (Paris) eu-west-3</option>
                                                            <option value="eu-north-1"> EU (Strockholm) eu-north-1
                                                            </option>
                                                        </optgroup>
                                                        <optgroup label="South America" class="text-muted">
                                                            <option value="sa-east-1"> South America (Sao Paulo)
                                                                sa-east-1</option>
                                                        </optgroup>

                                                    </select>
                                                    <div class="input-group-append ">
                                                        <span class="input-group-text bg-light" id="basic-addon2">
                                                            <a href="#" data-toggle="popover" data-trigger="focus" 
                                                                title="Why it is required?" data-content="To optimize latency, minimize costs, 
or address regulatory requirements, choose any AWS Region that is geographically close to you.
                                                            <a href='/document#v-pills-messages-tab' target='_blank' title='Title'>See refrences</a>"> <i
                                                                    class="fa fa-info-circle"></i></a>

                                                        </span>
                                                    </div>
                                                    <!-- <input type="text" required class="form-control" id="region" name="region"
                                                        value="ap-south-1"> -->
                                                </div>

                                                <div class="form-group input-group mb-4">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" for="accesskey"
                                                            id="basic-addon1">Access Key</span>
                                                    </div>
                                                    <input type="password" required class="form-control" id="accesskey"
                                                        aria-describedby="accesskey" name="access_key"
                                                        value="">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text bg-light borderless"
                                                            id="basic-addon2">

                                                            <a href="#" data-toggle="popover" data-trigger="focus" 
                                                                title="Why it is Required?"
                                                                data-content="Access Keys are used to sign the requests you send to create Amazon S3 Bucket, See more details or create <a href='/document#v-pills-messages-tab' target='_blank' title='accessKey'>Here</a>">
                                                                <i class="fa fa-info-circle"></i></a>

                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="form-group input-group mb-4">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" for="secretkey"
                                                            id="basic-addon1">Secret Key</span>
                                                    </div>
                                                    <input type="password" required class="form-control" id="secretkey"
                                                        aria-describedby="secretkey" name="secret_key"
                                                        value="">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text bg-light" id="basic-addon2">
                                                            <a href="#" data-toggle="popover" data-trigger="focus"  data-trigger="focus" 
                                                                title="Why it is Required?"
                                                                data-content="Secret Keys are used to sign the requests you send to create Amazon S3 Bucket, See more details or create <a href='/document#v-pills-messages-tab' target='_blank' title='secretKey'>Here</a>">
                                                                <i class="fa fa-info-circle"></i></a>

                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-11 m-auto text-center">
                                                        <button type="submit"
                                                            class="btn btn-outline-primary text-center">Deploy
                                                            Website</button>
                                                    </div>
                                                </div>
                                    </form>

                                    <!-- get the list of bucket by getting all the access key and secret key -->

                                    <% } else if (bucket && data && data.length> 0 ) { %>

                                        <h2 class="text-muted text-center"
                                            style="font-family: 'Roboto Mono', monospace;"> Your Bucket List</h2>


                                        <form id="uploadToBucket">
                                            <!-- <form action="/upload" method="post"  enctype="multipart/form-data" > -->
                                            <div class="input-group mb-3 mt-3">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text"
                                                        for="inputGroupSelect01">Buckets</label>
                                                </div>
                                                <input list="bucket_name" name="bucket_name" class="form-control"
                                                    placeholder="Search and select  bucket" required id="bucket_names">
                                                <datalist id="bucket_name">
                                                    <% for (let item of data) { %>
                                                        <option value="<%=item.Name%>" name="<%=item.Name%>">
                                                            <%= item.Name %>
                                                        </option>
                                                        <% } %>
                                                </datalist>
                                                <div class="input-group-append">
                                                    <span class="input-group-text bg-light borderless"
                                                        id="basic-addon2">
                                                        <a href="#" data-toggle="popover" data-trigger="focus"  data-trigger="focus"  title="Help!" data-content="Chosse you bucket name where you want to upload and Deploy as static website
                                                        <a href='/document#v-pills-settings-tab' target='_blank' title='Title'>See refrences</a>"> <i
                                                                class="fa fa-info-circle"></i></a>
                                                    </span>
                                                </div>
                                            </div>

                                            <!-- hidden inputs start -->
                                            <input type="hidden" name="region" value="<%= aKeys.region %>">
                                            <input type="hidden" name="access_key" value="<%= aKeys.access_key %> ">
                                            <input type="hidden" name="secret_Key" value="<%= aKeys.secret_key %>">
                                            <!-- hidden inputs end-->

                                            <div class="upload-btn-wrapper" id="dropzone">
                                                <p class="iconsCloud"><span class="material-icons">cloud_upload</span>
                                                </p>
                                                <p class="drag_n_drop_title">Drag & Drop Folder <br> OR <br> Browse
                                                    Folder</p>
                                                <input type="file" required name="file" multiple webkitdirectory
                                                    class="form-control mb-3" />
                                            </div>


                                            <!-- <input type="file" id="dropzone"> -->

                                            <div class="row" id="loaderID" style="display:none;">
                                                <div class="col-4 m-auto text-center ">
                                                    <div id="loading"></div>
                                                </div>
                                            </div>

                                            <div class="row mt-3">
                                                <div class="col-11 m-auto text-center">
                                                    <button type="submit" id="deployBtn"
                                                        class="btn btn-outline-primary text-center pr-5 pl-5">Deploy</button>
                                                </div>
                                            </div>
                            </div>
                            </form>
                        </div>
                        <div class="col-6 p-5">
                            <div class="">
                                <div class="tree" id="tree">
                                    <ul id="listing_defined">
                                        <h5 class="text-center">Standard Folder Structure</h5>
                                        <li><i class="fa fa-folder-open"></i> Parent Folder
                                            <ul>
                                                <li><i class="fa fa-html5"></i> index.html</li>
                                                <li><i class="fa fa-folder"></i>/<i class="fa fa-file"></i> Folder/File
                                                </li>
                                                <li><i class="fa fa-folder"></i>/<i class="fa fa-file"></i> Folder/File
                                                </li>
                                                <li><i class="fa fa-folder"></i>/<i class="fa fa-file"></i> Folder/File
                                                </li>
                                                <li><i class="fa fa-folder"></i>/<i class="fa fa-file"></i> Folder/File
                                                </li>
                                                <li><i class="fa fa-folder"></i>/<i class="fa fa-file"></i> Folder/File
                                                </li>
                                                <li><i class="fa fa-folder"></i>/<i class="fa fa-file"></i> Folder/File
                                                </li>
                                                <li><i class="fa fa-folder"></i>/<i class="fa fa-file"></i> Folder/File
                                                </li>
                                                <li><i class="fa fa-folder"></i>/<i class="fa fa-file"></i> Folder/File
                                                </li>
                                                <li><i class="fa fa-folder"></i>/<i class="fa fa-file"></i> Folder/File
                                                </li>


                                            </ul>
                                        </li>

                                    </ul>
                                    <ul id="listing"></ul>
                                </div>

                            </div>
                        </div>
                        <% } else { %>
                            <h2>No buckets found</h2>
                            <button type="submit" class="btn btn-primary btn-lg">Create New
                                Bucket</button>
                            <% } %>
                    </div>





                </div>

            </div>
            </div>
            </div>
            <%- include("base/footer.ejs") %>
                <!-- script tags start-->
                <% if (typeof url=='string' && url) { %>
                    <script>
                        var url = "<%= url %>";
                        var title = "<%= title %>";
                        var  region = "<%= region %>";
                        console.log(region, "keysss");

                        Swal.fire(
                            {
                                title: title,
                                icon: 'success',
                                // inputLabel: 'Please copy your website url!!',
                                // input: 'url',
                                // inputValue: url,
                            }
                        )
                    </script>
                    <% } %>

                    <% if (bucket) { %>
                        <script>
                            var  region = "<%= region %>";
  
                          const deployBtn = document.getElementById("deployBtn");
                          const loaderID = document.getElementById("loaderID");
  
  
                          document.getElementById("dropzone").addEventListener("change", function (event) {
                              let output = document.getElementById("listing");
                              let listing_defined = document.getElementById("listing_defined");
                              let files = event.target.files;
  
                              for (let i = 0; i < files.length; i++) {
                                  let item = document.createElement("li");
                                  item.innerHTML = files[i].webkitRelativePath;
                                  listing_defined.style.display = "none";
                                  output.appendChild(item);
                              };
                          }, false);
  
                          let allFilesData = [];
                          const uploadToBucketForm = document.getElementById("uploadToBucket");
  
                          uploadToBucketForm.addEventListener("submit", async function (event) {
                              event.preventDefault();
  
                              deployBtn.disabled = true;
                              loaderID.style.display = "block";
  
                              const getSignedUrlAndUpload = new Promise((resolve, reject) => {
  
                                  const files = event.target.file.files;
                                  const givenBucketName = event.target.elements.bucket_name.value;
                                  const body = {
                                      bucket_name: givenBucketName,
                                      files: [],
                                  }
                                  Array.from(files).forEach(file => {
                                      let filePathKey = file.webkitRelativePath.split('/').slice(1).join('/')
                                      console.log(filePathKey, "new file key");
                                      body.files.push({
                                          key: filePathKey,
                                          contentType: file.type
                                      })
                                  });
                                  const { url, fields } = fetch('/get-signed-url', { method: 'POST', body: JSON.stringify(body), headers: { "content-type": "application/json" } }).then(
                                      async response => {
                                          console.log(response, "response");
                                          let { urls } = await response.json();
  
                                          let uploadObjects = new Promise((resolve, reject) => {
                                              urls.forEach((fileObj, index, array) => {
                                                  uploadUsingSignedUrl(files[index], fileObj);
                                                  if (index === files.length - 1) {
                                                      resolve("success");
                                                  }
                                              });
                                          }).then(() => {
                                              deployBtn.disabled = true;
                                              loaderID.style.display = 'none';
                                              console.log(givenBucketName, "bucelt naem And region., ",region );
                                              Swal.fire(
                                                  {
                                                      title: 'Successfully published the project! ',
                                                      icon: 'success',
                                                      inputLabel: 'Please copy your project url!!',
                                                      input: 'url',
                                                      inputValue: `http://${givenBucketName}.s3-website.${region}.amazonaws.com/`,
                                                  }
                                              )
  
                                          });
  
  
                                      }).catch((error) => console.log("Catch error", error));
  
                              });
  
                              function uploadUsingSignedUrl(file, fileObj) {
                                  fetch(fileObj.url, { method: 'PUT', headers: { 'Content-Type': fileObj.contentType }, body: file }).then(() => {
                                      console.log("========================== uplaod worked ==============");
                                  }).catch((error) => {
                                      uploadUsingSignedUrl(file, fileObj)
                                      console.log(error, "catch")
                                  })
                                  return
                              };
  
  
  
  
  
  
                          })
                      </script>

                    <% } %>

    </body>

