<%- include("base/header.ejs") %>

  <body>
    <%- include("base/navbar.ejs") %>

    
    <div class="row home-wrapper">
      <div class="col-12">
        <div class="row mt-4 ml-2">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="row">
              <a href="/list">

             
              <div class="col-lg-12 col-md-12 col-sm-12 com-xs-12 pl-5 pt-3">
                <div class="card card-custom-new">
                  <div class="card-header-dot">
                    .
                  </div>
                  <div class="card-body-name">
                    <h4>Use Existing Bucket</h4>
                  </div>
                  <div class="card-footer-line">
                  </div>
    
                </div>
              </div>
            </a>
              <div class="col-lg-12 col-md-12 col-sm-12 com-xs-12 pl-5 pt-3">
                <a href="/create">
                <div class="card card-custom-new">
                  <div class="card-header-dot">
                    .
                  </div>
                  <div class="card-body-name">
                    <h4>Create New Bucket</h4>
                  </div>
                  <div class="card-footer-line">
                  </div>
    
                </div>
              </a>
              </div>
            </div>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 m-auto text-center">
            <img src="../assets/img/index-img.png" alt="" class="img-responsive m-auto img-fluid" >
          </div>
        </div>
      </div>
     
    </div>

   

      <!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100 " src="../assets/img/tiles-bg.png" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../assets/img/two.png" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../assets/img/three.jpg" alt="Third slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../assets/img/four.jpg" alt="Four slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../assets/img/five.png" alt="Five slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div> -->

      <!-- <div class="row card-tabs">
        <div class="col-7 mr-auto">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 com-xs-12 pl-5 pt-3">
              <div class="card card-custom-new">
                <div class="card-header-dot">
                  .
                </div>
                <div class="card-body-name">
                  <h4>Use Existing Bucket</h4>
                </div>
                <div class="card-footer-line">
                </div>

              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 com-xs-12 pl-5 pt-3">
              <div class="card card-custom-new">
                <div class="card-header-dot">
                  .
                </div>
                <div class="card-body-name">
                  <h4>Create New Bucket</h4>
                </div>
                <div class="card-footer-line">
                </div>

              </div>
            </div>
          </div>
        </div>
      </div> -->
      <%- include("base/footer.ejs") %>
  </body>

  </html>