<%- include("base/header.ejs") %>
    <%- include("base/navbar.ejs") %>

        <div class="row mt-5 mb-5">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 m-auto text-center">
                <h3> Privacy Policy</h3>
                <blockquote style="margin-bottom: 10rem;" >                   
                    The aim of this website is to provide an interface between the user and the server. This interface is able to create bucket and deploy website your AWS S3 server without any hurdles and lengthy process. In this process all credentials that you enter in this domain never stored. This portal works like a tool to simplify your manual efforts while deploying a static website on the AWS S3 server. We never ask your personal information like name, mail or phone number to connect to the AWS server. 
                    When you enter your Secret key and Access key of the AWS account it redirect you to the AWS server. This portal never stores any data from your side while you are accessing the AWS Server. 
                    We always respect your privacy and protect your rights to use this portal safely and securely without any conflicts. 
                </blockquote>
            </div>
        </div>
   <footer class="footer" >
       <%- include("base/footer.ejs") %>
   </footer>