<%- include("base/header.ejs")%>
<body>
    <%- include("base/navbar.ejs")%>
    
    <div class="row">
        <div class="col-12 m-auto text-center pt-5">
            <h1 class="text-success" >Thank You! Your website is successfully hosted!  <h1>
            <h2>Please go to the <code> "copied_url/index.html" </code>   <h2>
        </div>
    </div>


    <%- include("base/footer.ejs") %> 
</body> 