<%- include("base/header.ejs") %>

    <body>
        <%- include("base/navbar.ejs") %>
            <link
                href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic'
                rel='stylesheet' type='text/css'>

            <!-- The Timeline -->
            <div class="row w-100 workflow-wrapper">
                <div class="col-12 m-auto">
                    <div class="row">
                        <div class="col-10 ">
                            <h3 class="theme-header">How DDW Works</h3>
                        </div>
                    </div>
                    <!-- description -->
                    <h3 class="mt-2 mb-2">
                        Develop Deploy Web will help you to reduce and minimize the manual efforts in creating bucket
                        and landing your static website on the Web. You just need to follow these simple steps to get
                        your Static Deployment Website.
                    </h3>
                    <!-- first row  -->
                    <div class="row details-row">
                        <div class="col-g-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="../assets/img/create-bucket.png" class="img-responsive img-fluid" alt="">
                        </div>
                        <div class="col-g-6 col-md-6 col-sm-12 col-xs-12">
                            <h2>Create Bucket </h2>
                            <h4>
                                1. Choose your Bucket name <br>
                                2. Choose AWS region where you want to reside your bucket <br>
                                3. Enter your Access Key <br>
                                4. Enter Your Secret Key
                            </h4>
                        </div>
                    </div>
                    <!-- second row  -->
                    <div class="row details-row">

                        <div class="col-g-6 col-md-6 col-sm-12 col-xs-12">
                            <h2> User Created/Existing Bucket </h2>

                            <h4>
                                1. Input your Bucket name <br>
                                2. Select your region which you have selected in AWS S3 <br>
                                3. Enter your Access Key of the AWS <br>
                                4. Enter Your Secret Key of The AWS

                            </h4>
                        </div>
                        <div class="col-g-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="../assets/img/use-existing-one.png" class="img-responsive img-fluid" alt="">
                        </div>
                    </div>
                    <!-- third row  -->
                    <div class="row details-row">
                        <div class="col-g-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="../assets/img/existing-bucket.png" class="img-responsive img-fluid" alt="">
                        </div>
                        <div class="col-g-6 col-md-6 col-sm-12 col-xs-12">
                            <h2>Select Your Bucket and Upload File</h2>
                            <h4>1. Choose your Source code Folder <br>
                                2. Click Upload
                                .</h4>
                        </div>
                    </div>
                    <!-- fourth  row  -->
                    <div class="row details-row">

                        <div class="col-g-6 col-md-6 col-sm-12 col-xs-12">
                            <h2>Get Published URL</h2>
                            <h4>After Uploading the Source code file you will get the published URL of your Static
                                Deployment Website. Now you have hosted your website on AWS S3. And it is available for
                                public access.</h4>

                        </div>
                        <div class="col-g-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="../assets/img/upload-url.png" class="img-responsive img-fluid" alt="">
                        </div>
                    </div>






                    <!-- <div class="row mb-4">
                        <div class="col-lg-8 col-md-11 col-sm-12 col-xs-12 m-auto text-center">
                            <p > Develop Deploy Web will help you to reduce and minimize the manual efforts in creating bucket and landing your static website on the Web. You just need to follow these simple steps to get your Static Deployment Website. </p>
                        </div>
                    </div> -->

                    <!-- <section class="timeline">
                        <div class="container">
                            
                            <div class="timeline-item" onclick="location.href='/create';" >
                                <div class="timeline-img"></div>
                                <div class="timeline-content ">
                                    <div class="timeline-img-header create-image">
                                    </div>
                                    <h2>Create Bucket </h2>
                                    <div class="date">Step 1</div>
                                    <p> 
                                        1.	Choose your Bucket name  <br>
                                        2.	Choose AWS region where you want to reside your bucket <br>
                                        3.	Enter your Access Key  <br>
                                        4.	Enter Your Secret Key   
                                    </p>
                                

                                </div>
                            </div>
                            <div class="timeline-item" onclick="location.href='/list';" >
                                <div class="timeline-img"></div>
                                <div class="timeline-content ">
                             
                                    <div class="timeline-img-header create-exist">
                                    </div>
                                    <h2>  User Created/Existing Bucket </h2>
                                    <div class="date">Step 2</div>

                                       <p> 
                                        1.	Input your Bucket name <br>
                                        2.	Select your region which you have selected in AWS S3 <br>
                                        3.	Enter your Access Key of the AWS <br>
                                        4.	Enter Your Secret Key of The AWS

                                    </p>

                                </div>
                            </div>

                            <div class="timeline-item" onclick="location.href='/list';" >
                                <div class="timeline-img"></div>
                                <div class="timeline-content ">
                                    <div class="timeline-img-header create-upload">
                                    </div>
                                    <h2>Select Your Bucket and Upload File</h2>
                                    <div class="date">Step 3</div>
                                    <p>1.	Choose your Source code Folder  <br>
                                        2.	Click Upload 
                                        .</p>

                                </div>
                            </div>

       

                            <div class="timeline-item" onclick="location.href='/list';" >
                                <div class="timeline-img"></div>
                                <div class="timeline-content ">
                                    <div class="timeline-img-header create-url">
                                    </div>
                                    <h2>Get Published URL</h2>
                                    <div class="date">Step 4</div>
                                    <p>After Uploading the Source code file you will get the published URL of your Static Deployment Website. Now you have hosted your website on AWS S3.  And it is available for public access.</p>

                                </div>
                            </div>

                      





                        </div>
                    </section> -->

                </div>
            </div>

            <%- include("base/footer.ejs") %>

    </body>