<div class="footer bg-dark text-light mb-0 p-3 row" style="width: 101% !important;">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mr-auto h-100 text-left">
        <p>Copyright &copy;<script>document.write(new Date().getFullYear())</script> , All rights reserved <a target="_blank" href="https://www.stridefuture.com/">Stridefuture Technologies Pvt. Ltd</a> </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 h-100  text-right"> 
        <ul class="form-inline list-unstyled float-right text-light" >
            <li class="m-2" ><a href="/">Home</a></li>
            <li class="m-2" ><a href="/policy">Privacy Policy & Terms</a></li>
            <!-- <li class="m-2" ><a href="/policy">Terms</a></li> -->
            <li class="m-2" ><a href="/about-us#reachUS">Contact</a></li>
        </ul>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({ html: true });
    });

</script>
<!-- Optional: include a polyfill for ES6 Promises for IE11 -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script src="../../assets/js/validate.js"></script>
<script src="../../assets/js/config.js"></script>
