<nav class="navbar navbar-expand-lg  navbar-custom">
    <a class="navbar-brand" href="/">
        <img src="../../assets/img/logo.webp" height="70" alt="" srcset="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>   
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active nav-custom-item">
          <a class="nav-link " href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item  nav-custom-item">
          <a class="nav-link " href="/about-us">About Us <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item  nav-custom-item">
          <a class="nav-link " href="/how-to-deploy-static-website-on-aws-s3">How it works <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item  nav-custom-item">
          <a class="nav-link " href="/blogs">Blogs <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item  nav-custom-item">
          <a class="nav-link" href="/document">Documents<span class="sr-only">(current)</span></a>
        </li>
    </div>
  </nav> 