.contact-box {
  /* box-shadow: 0px 20px 20px 20px #919ca9; */
  padding: 3rem;
  border-radius: 4rem 0rem 4rem 0rem;
}
.contact-box .input-group, .contact-box button  {
  box-shadow: -1px 11px 17px 5px #a3a3a3;
  border-radius: 4px;
}

#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 3px solid rgba(8, 130, 157, 0.3);
  border-radius: 50%;
  border-top-color: rgb(0, 118, 137);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}


/* ============================================================================================= */

.content-list{
  padding:3rem;
}
.content-body{
font-size: 25px;
}