.blog-fonts h5 ,p{
line-height:2.2rem;
}
.blogs {
    box-shadow: 0px 0px 17px 1px black;
    text-align: center;
    font-weight: 600;
    color: #117a8b;
    font-family: 'FontAwesome';
}

.article h1 , .steps{
    margin-bottom: 30px;
    margin-top: 20px;
    color: #117a8b;
}
.article ul li, .article ol li {
    margin-bottom: 20px;
    margin-top: 20px;
}
.article h3 {
    text-shadow: 4px 11px 20px #117a8b;
}


/* particular blogs */
.blog-image {

    width: 100%;
    height: 30rem;
}
.contents{
    padding:0rem 4rem 4rem 4rem;
}