.document_box{
padding:0px 0px 0px 15px;
/* border-top:2px solid rgb(124, 118, 118); */
}
.document_box_tabs{
    padding:10px;
}
.nav-pills-custom{
    justify-content: center;
  }

.pills-hr{
    height: 3px;
    background-color: black;
    position: absolute;
    bottom: 12px;
    width: 100%;
    z-index: -1;
}



.docs_nav{
    color:black !important;
    margin-left: 10px;
    font-size: large !important;
}
.docs_nav.active{
    font-weight: bold !important;
    border-bottom: 8px solid #d800ff !important;
    /* border-radius: 10px !important; */
    color: #d800ff !important;
}
.document_box_content{
    padding:20px;
}