.nav-custom-item a {
  font-size: 30px;
  color: rgb(255, 255, 255) !important;
}
.nav-custom-item a {
  margin: 0 15px 0 15px;
  transition: 1s;
}
.navbar-custom {
  box-shadow: 1px 2px 20px 0px grey;
  background-color: #2B2B2B;
}
.nav-custom-item a:hover {
  transform: translate(10px, 10px);
  transition: 1s;
  color: rgb(169, 64, 64) !important;
}
input, select, textarea{
  background-color: #FAE0FF !important;
}
.fa, .theme-header{
color: #884BB7 !important;
}
.fa-info-circle:hover{
  color: #dc3545 !important;
  cursor: pointer;
  box-shadow: 0 0 7px 11px #007bff !important;
}

.custom-btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #884BB7;
    color: #fff;
    border-radius: .25rem;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.tab-pane li , p{
font-weight: bold;
color: gray;
}