.card-tabs {
  position: absolute;
  top: 7rem;
  margin-top: 2rem;
}
.home-wrapper{
  background-image: url(../img/tiles-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.card-custom-new {
  border-radius: 13px;
  margin-top:3rem;
  box-shadow: 0 0 20px 0px #332727; 
  padding: 1.5rem 1.5rem 0rem 1.5rem;
}
.card-custom-new:hover {
  box-shadow: 0 0 20px 0px #d800ff;
  cursor: pointer;
}

.card-body-name {
  border-radius: 13px;
  padding: 3.5rem 2.5rem 3.5rem 2.5rem;
}

.card-custom-new h4 {
  text-align: center;
  color: #BA68C8;
}

.card-header-dot {
  color: #D800FF;
  font-size: 76px;
  position: absolute;
  text-shadow: 0px 0px 20px #d800ff;
  top: -48px;
}

.card-footer-line {
  height: 4px;
  color: #D800FF;
  background-color: #D800FF;
}

/* carousel start */

.carousel-item img {
  height: 100vh !important;
  opacity: 0.6;
}

/* carousel end */

.box-item {
  position: relative;
  -webkit-backface-visibility: hidden;
  width: 415px;
  margin-left: 2rem;
  ;
  max-width: 100%;
}

.flip-box {
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(300%);
  }
  100% {
    transform: translateX(0);
  }
}

.flip-box-front, .flip-box-back {
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  min-height: 195px;
  max-width: 471px;
  -ms-transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
  transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
  -webkit-transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-front {
  -ms-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-back {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box .inner {
  position: absolute;
  left: 0;
  width: 100%;
  color: white;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
  transform: translateY(-50%) translateZ(60px) scale(.94);
  -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
  -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
  top: 50%;
}

.flip-box-header {
  font-size: 34px;
}

.flip-box p {
  font-size: 20px;
  line-height: 1.5em;
}

.flip-box-img {
  margin-top: 25px;
}

.flip-box-button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  padding: 15px 20px;
  text-transform: uppercase;
}

.card-custom {
  padding: 4rem;
  align-items: left;
  margin: 4rem 22rem 4rem 3rem;
  left: 0;
  text-align: center;
  border-radius: 0px;
  font-size: xx-large;
  border-color: #91352a;
  transition: 1.0s ease all;
  -moz-transition: 1.0s ease all;
  -webkit-transition: 1.0s ease all;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  background: linear-gradient( 181deg, #ffffff, #17a2b8);
  color: black;
  box-shadow: 1px 1px 20px 4px black;
  font-weight: 500;
  cursor: pointer;
}

.card-custom:hover {
  transform: rotateY(180deg);
  transition: 2.0s;
}

a:hover {
  text-decoration: none;
}

/* .card-custom span {
  position: absolute;
} */

/* create bucket page start */

#bucektName {
  text-transform: lowercase !important;
}

/* create bucket page end */

/* list page */

.list-cover {
  background-image: url(../img/tiles-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.form-box {
  margin: 1rem 5rem 5rem 1rem;
  max-height: 100vh;
  border-radius: 25px;
}

.form-box-col {
  padding: 30px;
  border-radius: 25px;
  margin: 1rem 5rem 5rem 1rem;
  background: white;
  box-shadow: 0 0 20px 0px #332727; 
  max-height: 100vh;
}


/* create buckets  */

.create-bucket-wrapper {
  background-image: url(../img/tiles-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  padding: 3rem;
}
.create-bucket-wrapper h2{
  text-decoration: underline #F563FF;
  font-weight:bold;
}

.create-form {
  padding: 3rem;
  border-radius: 25px;
  margin: 3rem 0rem 3rem 0rem;
  box-shadow: 0 0 6px black;
  background-color: white;
}

/* drag and drop start */

#dropzone {
  border: 3px dashed #d800ff;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    box-shadow: inset 1px 1px 20px #d800ff;
}

.br_dropzone {
  position: relative;
  width: 100%;
  height: 200px;
  display: block;
  box-sizing: border-box;
  box-shadow: inset 1px 1px 20px;
  border: 3px dashed #17a2b8;
  border: 3px dashed #17a2b8;
  border-radius: 20px;
}

.br_dropzone input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  font-size: 2rem;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  box-sizing: border-box;
}

.br_dropzone input[type=text] {
  background: none;
  border: none;
  padding: 0.5em;
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}

.br_dropzone.dragover {
  background-color: #eee;
  border: 6px dashed rgba(#000, 0.1);
}

/* drag and drop end */

/* folder tree start */

.tree {
  position: relative;
  background: white;
  margin-top: 20px;
  padding: 30px;
  font-family: "Roboto Mono", monospace;
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  max-height: 70vh;
  overflow-y: auto;
}

.tree span {
  font-size: 13px;
  font-style: italic;
  letter-spacing: 0.4px;
  color: #a8a8a8;
}

.tree .fa-folder-open, .tree .fa-folder {
  color: #007bff;
}

.tree .fa-html5 {
  color: #f21f10;
}

.tree ul {
  padding-left: 5px;
  list-style: none;
}

.tree ul li {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tree ul li:before {
  position: absolute;
  top: 15px;
  left: 0;
  width: 10px;
  height: 1px;
  margin: auto;
  content: "";
  background-color: #666;
}

.tree ul li:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 100%;
  content: "";
  background-color: #666;
}

.tree ul li:last-child:after {
  height: 15px;
}

.tree ul a {
  cursor: pointer;
}

.tree ul a:hover {
  text-decoration: none;
}

/* folder tree end */

/* drop zone start */

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.drag_n_drop_title {
  color: #17a2b8;
  border-radius: 8px;
  text-align: center;
}

.iconsCloud {
  text-align: center;
}

.iconsCloud .material-icons {
  font-size: 5rem !important;
  color: #17a2b8 !important;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/* drop zone end */