.workflow-wrapper{
  padding:3rem;
}
.workflow-wrapper h3{
  line-height:3rem;  
}
.workflow-wrapper h4{
  line-height:3rem;
  color: #757575;

}
.details-row{
  padding:2rem;
  margin-top: 2rem;;
}
.details-row div{
  padding:2rem;
}




















/* ================================================= */
.timeline {
  position: relative;
}
.timeline::before {
  content: "";
  background: #c5cae9;
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

}
@keyframes slideInFromLeftTimeline {
  0% {
      transform: translateY(300%);
  }
  100% {
      transform: translateX(0);
  }
}

.timeline-item {
  width: 100%;
  animation: 1s ease-out 0s 1 slideInFromLeftTimeline;

  margin-bottom: 70px;
  cursor: pointer;
}
.timeline-item:nth-child(even) .timeline-content {
  float: right;
  padding: 40px 30px 10px 30px;
}
.timeline-item:nth-child(even) .timeline-content .date {
  right: auto;
  left: 0;
}
.timeline-item:nth-child(even) .timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}
.timeline-item::after {
  content: "";
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  width: 45%;
  border: 1px solid #117a8b;
  padding: 0px 10px;
  border-radius: 10 px;
  background: #f5f5f5;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
  font-family: fontawesome;
}
.timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #f5f5f5;
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: #3f51b5;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

/* a {
    background: #3F51B5;
    color: #FFFFFF;
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
  } */
/* a:hover, a:active, a:focus {
    background: #32408f;
    color: #FFFFFF;
    text-decoration: none;
  } */

.timeline-card {
  padding: 0 !important;
}
.timeline-card p {
  padding: 0 20px;
}
.timeline-card a {
  margin-left: 20px;
}

.timeline-item .create-image {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
    url("../img/create.png") center center no-repeat;
  background-size: cover;
}
.timeline-item .create-exist {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
    url("../img/exist.png") center center no-repeat;
  background-size: cover;
}
.timeline-item .create-upload {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
    url("../img/upload.png") center center no-repeat;
  background-size: cover;
}
.timeline-item .create-url {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
    url("../img/upload.png") center center no-repeat;
  background-size: cover;
}


.timeline-img-header {
  height: 200px;
  position: relative;
  margin-bottom: 6px;
}
.timeline-img-header h2 {
  color: #000000;
  position: absolute;
  bottom: 5px;
  left: 20px;
  text-shadow: 1px 0px black;
}

blockquote {
  margin-top: 30px;
  border-left-color: #3f51b5;
  padding: 0 20px;
  font-weight: bold;
    color: gray;
}

.date {
  background: #117a8b;
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0px 25px 9px 25px;
}

@media screen and (max-width: 768px) {
  .timeline::before {
    left: 50px;
  }
  .timeline .timeline-img {
    left: 50px;
  }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
}
